/*********************
*breakpoints
***********************/

$XS: 320px; //mobile small
$S: 425px; //mobile
$M: 768px; //tablet
$L: 1024px; //tablet horizontal
$XL: 1440px; //Desktop HD
$XXL: 2560px; //Desktop 4K